footer{
font-size: 1r;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: dodgerblue;
border-radius: 0.5rem;
border-style: initial;
border-color: lightblue;
text-align: center;
padding-bottom: 10px;
}