header{
    background-color: rgb(234, 241, 234);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
h1{
    
    position: relative;
    text-align: center;
    text-decoration: darkgreen;
    padding: auto;
    padding-bottom: 3.5rem;
}
p{
    font-size: 3rem;
    padding-top: 1.5rem;
}
