<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>index.ejs</title>
</head>
<body>
    <header><%- include('header');%></header>

 <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere obcaecati non totam cum dicta iste quam repudiandae inventore odio natus quas velit quisquam suscipit molestiae temporibus, assumenda, sequi ipsa. Quam.</P>


 <a href="./movie.ejs">Movie bekijken</a>
 <%- include('footer')%>
</body>
</html>