<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/movies.css">
    <title>Document</title>
</head>
<body>
  <header><%- include('header');%></header>
<div class="de movie">
  <%
  let movies  = [
          {name: "The Matrix", myScore: 90},
          {name: "Pulp Fuction", myScore: 100},
          {name: "Monster Hunter", myScore: 5},
          {name: "Blade Runner", myScore: 100}
      ];
  
  %>
    <ol>
    <% for(var i=0; i < movies.length; i++) { %>
       
         <li><%= movies[i].name %>=<%=movies[i].myScore %></li>
        
       
         <% } %>
      </ol>
 </div>
 
 <a href="/labo9/views/index.ejs">Link naar Homepage</a>
<%- include('footer')%>
</body>
</html>